<dl>
	{{- .EntryNav -}}
	<dt><span class="emoji">📝</span> Posted:</dt>
{{if .Pushes}}
	<dd><a href="/blog/{{.Date}}">{{HTML_Time .Time}}</a></dd>

	<div class="post_meta">
		<dt><span class="emoji">🚚</span> Summary of:</dt>
		<dd>{{range $i, $push := .Pushes -}}
			{{- if $i}}<br>{{end}}
			<a href="/fundlog#{{$push.ID}}">{{$push.ID}}</a>
			{{$push.Goal}}
			<a href="https://github.com/{{$push.Diff.URL}}"></a>
		{{- end}}</dd>
	</div>

	<dt><span class="emoji">💰</span> Funded by:</dt>
	<dd>{{range $i, $customer := .FundedBy -}}
		{{- if $i}}, {{end}}{{DB_CustomerByID $customer -}}
	{{- end}}</dd>
{{else}}
	<dd><a href="/blog/{{.Date}}">{{HTML_Date .Time}}</a></dd>
{{end}}
	<dt><span class="emoji">🏷️</span> Tags:</dt>
	<dd>{{range .Tags}}{{HTML_TagBlock . $.Filters}} {{end}}</dd>
</dl>
