<article id="{{.Date}}">
	<dl>
		<dt><span class="emoji">📝</span> Posted:</dt>
{{if .PushIDs}}
		<dd><a href="/blog/{{.Date}}">{{HTML_Time .Time}}</a></dd>
		<dt><span class="emoji">🚚</span> Summary of:</dt>
		<dd>{{range $i, $push := .PushIDs -}}
			{{- if $i}}, {{end}}<a href="/fundlog#{{$push}}">{{$push}}</a>
		{{- end}}</dd>
		<dt><span class="emoji">⌨</span> Commits:</dt>
		<dd>{{range $i, $diff := .Diffs -}}
			{{- if $i}}, {{end -}}
			<a href="https://github.com/{{$diff.URL}}">
			{{- if $diff.Project.Name}}({{$diff.Project.Name}}) {{end -}}
			<code>{{$diff.Rev}}</code></a>
		{{- end}}</dd>
		<dt><span class="emoji">💰</span> Funded by:</dt>
		<dd>{{range $i, $customer := .FundedBy -}}
			{{- if $i}}, {{end}}{{DB_CustomerByID $customer -}}
		{{- end}}</dd>
{{else}}
		<dd><a href="/blog/{{.Date}}">{{HTML_Date .Time}}</a></dd>
{{end}}
		<dt><span class="emoji">🏷</span> Tags:</dt>
		<dd>{{range .Tags}}{{HTML_Tag . $.Filters}} {{end}}</dd>
	</dl>
{{.Body}}
</article>
