<section id="cap">
	<p>
		<small>Currently outstanding workload / cap:</small>
		<span class="amount">{{HTML_Currency .Outstanding}}</span>
		out of
		<span class="amount">{{HTML_Currency .Cap}}</span>
	</p>
	<meter value="{{.Outstanding}}" max="{{.Cap}}"></meter>
	<small>
	{{- if .Reached -}}
		{{- if .FirstFree -}}
			Sold out until {{HTML_Date .FirstFree}}, please check back then!
		{{- else -}}
			Sold out until further notice… wow.
		{{- end -}}
	{{- else -}}
		Based on my free time in the 4 weeks from now to {{HTML_Date .Then}}.
	{{- end -}}
	</small>{{if not .Ctx}}{{if not .Reached}}
	<p>
		Interested in contributing? Make sure you've read the <a href="/faq">
		FAQ page</a>, and place your order there.
	</p>
	{{end}}{{end}}
</section>
