<section id="cap">
	<p>
		<small>Currently outstanding workload / cap:</small>
		<span class="amount confirmed">{{HTML_Currency .Outstanding}}</span>
		{{if .Incoming}}<small>
			+ <span class="amount incoming">
				{{HTML_Currency .Incoming}} unconfirmed
			</span>
		</small>{{end}}
		out of
		<span class="amount">{{HTML_Currency .Cap}}</span>
	</p>
	<div class="meter">
		<div class="confirmed" style="width: {{.FracOutstanding}}%;"></div><!--
		--><div class="incoming" style="width: {{.FracIncoming}}%;"></div>
	</div>
	<small>
	{{- if .Reached -}}
		{{- if .FirstFree -}}
			Sold out until {{HTML_Date .FirstFree}}, please check back then!
		{{- else -}}
			Sold out until further notice… wow.
		{{- end -}}
	{{- else -}}
		Based on my free time in the 4 weeks from now to {{HTML_Date .Then}}.
	{{- end -}}
	</small>{{if not .Ctx}}{{if not .Reached}}
	<p>
		Interested in contributing? Make sure you've read the <a href="/faq">
		FAQ page</a>, and place your order there.
	</p>
	<hr style="width: 100%;" />
	<small>
		Current special offers:
	</small>
	<ul>
		<li><strong>TH05 pushes 33% off (= {{HTML_Currency 2000}} per push), {{DB_CustomerByID 2}} will round up the remaining amount</strong>
		</ul></li>
	</ul>
	{{end}}{{end}}
</section>
<hr />
