{{- $discounts := DB_DiscountOffers -}}

<section id="cap">
	<p>
		<small>Final outstanding workload:</small>
		<span class="amount confirmed">{{HTML_Currency .Outstanding}}</span>
		{{if .Incoming}}<small>
			+ <span class="amount incoming">
				{{HTML_Currency .Incoming}} unconfirmed
			</span>
		</small>{{end}}{{if .Reserved}}<small>
			+ <span class="amount reserved">
				{{HTML_Currency .Reserved}} reserved for discounts
			</span>
		</small>{{end}}
	</p>
	<div class="meter"><div
		style="{{CSS_Meter 100}} width: {{ .FracOutstanding}}%"></div><div
		style="{{CSS_Meter   0}} width: {{ .FracIncoming}}%"></div><div
		style="{{CSS_Meter  50}} width: {{ .FracReserved}}%"></div
	></div>
</section>
<hr>
