{{$backlog := DB_TransactionBacklog -}}

{{- template "header.html" "fundlog" -}}
<h2>Backlog</h2>
{{if $backlog -}}
<dl>
	{{range $goal := $backlog -}}<dt>
		<span class="emoji">🥅</span> Goal:
	</dt><dd>
		<strong>{{$goal.Goal}}</strong>
		<ul>
			{{range $perCustomer := $goal.PerCustomer}}<li>
				<b>{{HTML_FloatMaxPrec $perCustomer.PushFraction 2}}</b> pushes
				from {{DB_CustomerByID $perCustomer.Customer}}
			</li>{{end}}
		</ul>
	</dd>{{end}}
</dl>
{{else}}
<p>Currently empty!</p>
{{end}}
<h2>Delivered</h2>
{{template "push_table.html" DB_Pushes}}
{{- template "footer.html" -}}
