<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{if .}}{{if eq . "legal" -}}
		<meta name="robots" content="noindex, noarchive" />
	{{- end}}{{end -}}
	<link rel="stylesheet" href="/static/main.css" />
	<script src="/static/main.js"></script>
	<title>ReC98</title>
</head>
<body>
	<header>
		<a href="/" class="logo">
			<img src="/static/logo.png" alt="Richard Stallman cosplaying as a shrine maiden" class="logo"/>
		</a>
		<div class="logo"></div>
		<div><nav>
			<a href="/fundlog">Crowdfunding log</a>
			<a href="/blog">Progress blog</a>
			<a href="/progress">Per-commit metrics</a>
			<a href="https://github.com/nmlgc/ReC98">ReC98 repository</a>
			<a href="https://github.com/nmlgc/rec98.nmlgc.net">Website repository</a>
		</nav></div>
	</header>
	<main{{if .}} id="{{.}}"{{end}}>
