{{$log := git_getLog -}}

{{template "header.html"}}
<h1>ReC98</h1>
<h2>The Touhou PC-98 Restoration Project</h2>
<p>This page is currently under construction. When it's done, it will provide a nice overview about how much "done" we actually are, and a way to crowdfund further progress.</p>
<p>In the meantime, click on the title of a commit to show some meaningless numbers. <i>Really. They mean nothing.</i></p>
<table><tbody>
	{{range git_commits $log}}<tr>
		<td>{{.Date}}</td>
		<th><a href="/numbers/{{.Hash}}">{{.Desc}}</a></th>
		<td><a href="https://github.com/nmlgc/ReC98/commit/{{.Hash}}"><code>{{.Hash}}</code></a></td>
	</tr>{{end}}
</tbody></table>
{{template "footer.html"}}
