{{$master := git_MasterCommit -}}
{{$ci := git_makeCommitInfo $master -}}
{{$spp := ReC98_RESpeedPerPush -}}
{{$pe := ReC98_REProgressEstimateAtTree $master.Tree $spp -}}

{{- template "header.html" "estimate" -}}

{{template "cap.html" DB_CapCurrent false}}

<h1 id="status">Completion status, as of <a href="/progress/{{$ci.Hash.String}}">{{HTML_Date $ci.Time}}</a>:</h1>

<h2>Reverse-engineering</h2>
{{template "estimate_metrics.html" $pe.ForInstructions}}

<h2><a href="/faq#pi-what">Position independence</a></h2>
{{template "estimate_metrics.html" $pe.ForAbsoluteRefs}}
<hr />
<aside class="warning">
	<span class="icon-cell">⚠️</span>
	<p><strong>These prices are <i>estimates</i>, calculated from <a href="/fundlog">the entire crowdfunding history</a>, and should <i>not</i> be interpreted as goals to be hit. They <i>will</i> drop or increase as progress speeds up or slows down. Therefore, <i>there is no guarantee</i> that paying any fraction of these will translate to exactly that fraction of progress.</strong></p>
	<span class="icon-cell">⚠️</span>
</aside>
<aside>
	<span class="icon-cell">📉</span>
	<p>Currently calculating with an average speed of <b>{{printf "%.0f" $spp.Instructions}} instructions</b> and <b>{{printf "%.0f" $spp.AbsoluteRefs}} potential unlabeled addresses</b> removed per push. <a href="/progress">Raw, per-commit metrics are here.</a></p>
	<span class="icon-cell">📉</span>
</aside>
<hr />

{{template "footer.html"}}
