{{$commit := git_getCommit .rev -}}
{{$ci := git_makeCommitInfo $commit -}}
{{$numbers := rec98_numbersAtTree $commit.Tree -}}

{{template "header.html"}}
<h2>Commit overview</h2>
<h3>{{$ci.Date}} – {{$ci.Desc}} (<a href="https://github.com/nmlgc/ReC98/commit/{{$ci.Hash}}"><code>{{$ci.Hash}}</code></a>)</h3>
<table>
	<thead>
		<tr>
			<th></th>
			<th>ZUN.COM</th>
			<th>OP</th>
			<th>Main</th>
			<th>Cutscenes</th>
		</tr>
	</thead>
	<tbody>
		{{range $game, $sources := $numbers}}<tr>
			<th>{{printf "TH%02d" (inc $game)}}</th>
			<td>{{$sources.Init}}</td>
			<td>{{$sources.OP}}</td>
			<td>{{$sources.Main}}</td>
			<td>{{$sources.Cutscenes}}</td>
		</tr>{{end}}
	</tbody>
</table>
{{template "footer.html"}}
