{{$log := git_getLogAt git_MasterCommit -}}

{{template "header.html"}}
<h2>Per-commit progress metrics</h2>
<p>For comparison, <a href="/progress/{{ReC98_REBaselineRev}}">here are the total numbers of game code instructions, with all third-party code filtered</a>.</p>
<table><tbody>
	{{range git_commits $log}}<tr>
		<td>{{HTML_Time .Time}}</td>
		<th><a href="/progress/{{.Hash}}">{{.Desc}}</a></th>
		<td>{{git_CommitLink .Hash.String}}</td>
	</tr>{{end}}
</tbody></table>
{{template "footer.html"}}
