{{$commit := git_getCommit .rev -}}
{{$ci := git_makeCommitInfo $commit -}}
{{$progress := ReC98_REProgressAtTree $commit.Tree -}}
{{$pct := $progress.Pct ReC98_REProgressBaseline -}}

{{template "header.html"}}
<h2>Reverse-engineering progress</h2>
<h3>{{$ci.Date}} – {{$ci.Desc}} (<a href="https://github.com/nmlgc/ReC98/commit/{{$ci.Hash}}"><code>{{$ci.Hash}}</code></a>)</h3>

<div class="progress-grid">
	<figure class="progress">
		<figcaption>Not yet reverse-engineered x86 instructions</figcaption>
		{{template "progress_table.html" $progress.Instructions}}
	</figure>
	<figure class="progress">
		<figcaption>Completion percentage <a href="/progress/{{ReC98_REBaselineRev}}">(reference values)</a></figcaption>
		{{template "progress_table.html" $pct.Instructions}}
	</figure>
</div>
<hr />
<div class="progress-grid">
	<figure class="progress">
		<figcaption>Upper bound of absolute memory references</figcaption>
		{{template "progress_table.html" $progress.AbsoluteRefs}}
	</figure>
	<figure class="progress">
		<figcaption>Probability of position independence <a href="/progress/{{ReC98_REBaselineRev}}">(reference values)</a></figcaption>
		{{template "progress_table.html" $pct.AbsoluteRefs}}
	</figure>
</div>
{{template "footer.html"}}
