{{$rev := .Vars.rev}}
{{$commit := git_getCommit $rev -}}
{{$ci := git_makeCommitInfo $commit -}}
{{$progress := ReC98_REProgressAtTree $commit.Tree -}}
{{$pct := $progress.Pct ReC98_REProgressBaseline -}}
{{$notBaseline := ne $rev ReC98_REBaselineRev -}}

<h2><a href="/progress">⮜ Per-commit progress metrics</a></h2>
<h3>{{HTML_Time $ci.Time}} – {{$ci.Desc}} ({{git_CommitLink $rev}})</h3>

<figure class="progress side_by_side medium">
	<figure>
		<figcaption>x86 instructions needing reverse-engineering</figcaption>
		{{template "progress_table.html" $progress.CodeNotREd.FormattedAsInt}}
	</figure>
	<figure>
		<figcaption>Completion, excluding technical debt
			{{- if $notBaseline}} (<a href="/progress/{{ReC98_REBaselineRev}}">reference values</a>){{end}}
		</figcaption>
		{{template "progress_table.html" $pct.CodeNotREd.FormattedAsPct}}
	</figure>
</figure>
<hr>
<figure class="progress side_by_side medium">
	<figure>
		<figcaption>Maximum number of unlabeled memory addresses</figcaption>
		{{template "progress_table.html" $progress.AbsoluteRefs.FormattedAsInt}}
	</figure>
	<figure>
		<figcaption>Probability of position independence
			{{- if $notBaseline}} (<a href="/progress/{{ReC98_REBaselineRev}}">reference values</a>){{end}}
		</figcaption>
		{{template "progress_table.html" $pct.AbsoluteRefs.FormattedAsPct}}
	</figure>
</figure>
{{if $notBaseline -}}
<hr>
<figure class="progress side_by_side medium">
	<figure>
		<figcaption>x86 instructions with unknown decompilability</figcaption>
		{{template "progress_table.html" $progress.CodeNotFinal.FormattedAsInt}}
	</figure>
	<figure>
		<figcaption>Completion, including technical debt</figcaption>
		{{template "progress_table.html" $pct.CodeNotFinal.FormattedAsPct}}
	</figure>
</figure>
{{end -}}
