<table class="pushes">
	<thead>
		<tr>
			<th>Push ID</th>
			<th>Funded by</th>
			<th>Goal</th>
			<th>Date delivered</th>
			<th>Commits</th>
			<th>Summary</th>
		</tr>
	</thead>
	<tbody>
		{{range .}}<tr id="{{.ID}}">
			<th>{{.ID}}</th>
			<td>{{range $i, $customer := .FundedBy -}}
				{{- if $i}}, {{end}}{{DB_CustomerByID $customer}}
			{{- end}}</td>
			<td>{{.Goal}}</td>
			<td>🚚 {{HTML_Date .Delivered}}</td>
			<td class="icon-cell">{{range $diff := .Diff -}}
				<a href="https://github.com/{{$diff.URL}}"></a>
			{{- end}}</td>
			<td class="icon-cell">{{with Blog_FindEntryForPush . -}}
				{{Blog_PostLink .Date ""}}
			{{- end}}</td>
		</tr>{{end}}
	</tbody>
</table>
