<table class="pushes">
	<thead>
		<tr>
			<th>Push ID</th>
			<th>Time purchased</th>
			<th>Funded by</th>
			<th>Goal</th>
			<th>Time delivered</th>
			<th>Commits</th>
			<th>Summary</th>
		</tr>
	</thead>
	<tbody>
		{{range .}}<tr id="{{.ID}}">
			<th>{{.ID}}</th>
			<td>💰 {{HTML_Time .FundedAt}}</td>
			<td>{{range $i, $customer := .FundedBy -}}
				{{- if $i}}, {{end}}{{DB_CustomerByID $customer}}</a>
			{{- end}}</td>
			<td>{{.Goal}}</td>
			<td>🚚 {{HTML_Time .Delivered}}</td>
			<td class="icon-cell"><a href="https://github.com/{{.Diff.URL}}"></a></td>
			<td class="icon-cell">{{if .Summary}}<a href="/blog#{{.Summary}}">📝</a>{{end}}</td>
		</tr>{{end}}
	</tbody>
</table>
