{{$cap := DB_CapCurrent true -}}
{{$stripe_session := "" -}}
{{$subscriptionUnpaid := false -}}
{{if .Vars.stripeSession -}}
	{{$stripe_session = Stripe_Session .Vars.stripeSession .Vars.salt -}}
	{{$subscriptionUnpaid = true}}
{{end}}

{{- template "cap.html" $cap -}}
<h2>Thank you!</h2>
<p>{{if $subscriptionUnpaid -}}
	I will check your order as soon as I see it. Since you used a payment provider that can't immediately process new subscriptions, it might take a while for the transaction to be verified. Once it is, I will manually enter your order
{{else}}
	I will check your order as soon as I see it, manually enter it
{{end}} into the
	<a href="https://github.com/nmlgc/rec98.nmlgc.net/blob/master/db/transactions.tsv">
	transaction database</a>, and then confirm it via email. After that, the
	newly added <span class="incoming">red part</span> of the goal bar will
	become <span class="confirmed">green</span>.
</p>{{with .PostFormValue "cycle"}}{{if ne . "onetime"}}<p>
	You can cancel your subscription at any time through PayPal's web
	interface.
</p>{{end}}{{end}}{{with $stripe_session -}}
	<h3>{{HTML_Emoji "stripe"}} How to cancel</h3>
	<ol>
		<li>Visit
		<a href="{{.URLPageManage}}"><code>{{.URLPageManage}}</code></a></li>
		<li>Enter <code>{{.SubID}}</code> to confirm</li>
	</ol><p>
		Your confirmation email will include this information as well.
	</p>
{{end}}
