html {
	font-family: sans-serif;
}

.progress-grid {
	display: flex;
	flex-wrap: wrap;
}

/* Progress table
   -------------- */
.progress figcaption {
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-top: 1px dotted grey;
	border-bottom: 1px dotted grey;
	margin-bottom: 1em;
}

.progress {
	border-collapse: collapse;
}

.progress td,
.progress th {
	text-align: right;
	padding: 0.25em 0.5em;
}

.progress th:first-child,
.progress td:first-child {
	border-right: 1px solid gray;
}

.progress th:last-child,
.progress td:last-child {
	border-left: 1px solid gray;
}

.progress thead th,
.progress thead td {
	border-bottom: 1px solid gray;
}

.progress tfoot th,
.progress tfoot td {
	border-top: 1px solid gray;
}
/* -------------- */
