/* Variables
   --------- */
:root {
	--c-text: black;

	/**
	 * Not picking #000 as the background for videos and tab switchers allows
	 * them to frame the video in fullscreen mode, clarifying its aspect ratio.
	 */
	--dark: 16, 16, 16;
	--c-dark: rgb(var(--dark));

	--c-lightgray: rgb(220, 220, 220);
	--c-border: silver;
	--c-bg: #f8f8f8;
	--c-table-border: gray;

	--c-link: blue;
	--c-link-hover: red;

	--c-trial-bad: rgb(256, 220, 220);
	--c-trial-mid: rgb(256, 256, 220);
	--c-trial-good: rgb(220, 256, 220);

	--table-border: 1px solid var(--c-table-border);
	--table-border-thick: 2px solid black;

	--header-height: 2.5em;
	--header-border: 1px solid silver;
	--header-gradient: linear-gradient(180deg,
		white 0%,
		var(--c-lightgray) 100%
	);
	--header-gradient-hover: linear-gradient(180deg,
		white 0%,
		rgb(256, 220, 220) 100%
	);
	--icon-width: 1.45em;
	--icon-height: 1.45em;
	--logo-width: 3.5em;
	--logo-padding: 0.5em;
	--shadow: 0 0 0.5em 0;
	--blog-shadow: var(--shadow) var(--c-border);

	--footer-height: 1.75em;
}
/* --------- */

html, .tag form button, a.download::after {
	height: 100%;
	font-family: sans-serif;
}

a {
	color: var(--c-link);
	text-decoration: none;
}

a:hover {
	color: var(--c-link-hover) !important;
}

blockquote {
	color: green;
	white-space: pre-line;
}

i [lang="ja"] {
	font-style: normal;
}

pre {
	border: var(--header-border);
	box-shadow: var(--blog-shadow);
	padding: 1em;
	-moz-tab-size: 4;
	tab-size: 4;
	max-width: 100%;
	overflow-x: scroll;
	text-align: left;
}

img[src*="emoji-"] {
	/* Shamelessly stolen from Discord's CSS */
	width: var(--icon-width) !important;
	height: var(--icon-height) !important;
	min-width: var(--icon-width);
	min-height: var(--icon-width);
	margin-left: .05em;
	margin-right: .05em;
	vertical-align: -.4em;
}

tbody tr:nth-child(even) {
	background-color: #ffffff;
}
tbody tr:nth-child(odd) {
	background-color: var(--c-bg);
}

aside {
	text-align: center;
	display: grid;
	grid-template-columns: auto 1fr auto;
	place-items: center;
	grid-column-gap: 0.5em;
}

aside .icon-cell {
	font-size: 150%;
}

figure figure {
	margin: 0; /* controlled by side_by_side Flexbox gap instead */
}

figure {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	max-width: 100%;
	grid-template-rows: min-content;
}

figure:fullscreen {
	font-size: 125%;
	grid-template-rows: 1fr min-content;
}

/* Firefox ignores rules that also match a `:-webkit-full-screen` selector? */
figure:-webkit-full-screen {
	font-size: 125%;
	grid-template-rows: 1fr min-content;
}

/* Applying this to .multilayer would reduce them to a width of 0 pixels,
 * applying it to .side_by_side would override the intended gap. */
figure:not(.side_by_side)>:not(.multilayer) {
	/* `justify-self` clips wider content?! */
	margin-left: auto;
	margin-right: auto;
}

figure.side_by_side {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5%;
	width: 100%;

	figcaption {
		width: 100%; /* Force the caption into a new row */
	}
}

figure.small {
	gap: 0;
}

figure.medium {
	gap: 2.5%;
}

.fullres,
.th01_playfield,
.singleplayer_playfield {
	max-height: unset;
}

figure.fullres,
figure.fullres img {
	width: 640px;
}
figure.th01_playfield,
figure.th01_playfield img {
	width: 640px;
}
figure.singleplayer_playfield,
figure.singleplayer_playfield img {
	width: 384px;
}

figure.fullres .multilayer {
	aspect-ratio: 16 / 10;
}
figure.th01_playfield .multilayer {
	aspect-ratio: 40 / 21;
}
figure.singleplayer_playfield .multilayer {
	aspect-ratio: 24 / 23;
}

figure button,
.tag button {
	border: 0;
	background: inherit;
	font-size: inherit;
	line-height: inherit;
	color: var(--c-link);
}

figure button:hover,
.tag button:hover {
	color: var(--c-link-hover);
	cursor: pointer;
}

figure button.active {
	color: black
}

figure button:first-child {
	padding-left: 0; /* Avoid space before any previous word */
}

figure button:last-child {
	padding-right: 0; /* Avoid space in front of the likely period */
}

video,
.pixelated img,
figure.singleplayer_playfield img {
	max-height: unset;
	image-rendering: pixelated;
}

.multilayer {
	position: relative;
}

.multilayer img {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}

.multilayer .active {
	z-index: 1;
}

figure img,
figure video {
	max-width: 100%; /* Important for phones! */
}

figure img,
figure embed,
figure iframe {
	max-height: 15em;
}

figure.large embed {
	max-width: 90%;
	max-height: unset;
}

figure.small img {
	max-height: 5em;
	box-shadow: var(--blog-shadow);
}

figure iframe {
	width: calc((15em / 9) * 16);
	height: 480px;
	max-width: 100%;
	border: 0;
}

figure figcaption {
	font-size: 75%;
	margin-top: 0.75em;
	margin-bottom: 0.75em;
	grid-row: 3; /* Tab switcher, video, caption. */
}

figure figcaption hr {
	width: 100%;
}

.checkerboard img,
img.checkerboard,
table.checkerboard td {
	background-image:
		linear-gradient(45deg, #888 25%, transparent 25%),
		linear-gradient(135deg, #888 25%, transparent 25%),
		linear-gradient(45deg, transparent 75%, #888 75%),
		linear-gradient(135deg, #777 75%, #888 75%);
	background-size: 8px 8px;
	background-position: 0 0, 4px 0, 4px -4px, 0px 4px;
}

.captioned {
	margin-bottom: 0;

	+ small {
		display: block;
		margin-bottom: 1.75em;
		color: dimgray;
	}
}

.wait {
	cursor: wait;
}

.hovertext {
	text-decoration: underline dotted;
	text-underline-position: under;
}

.y {
	border-bottom: 1px dotted black;
}

.y::after {
	vertical-align: super;
	font-size: 50%;
}

.y.screen::after {
	content:"👁"
}

.y.vram200::after {
	content:"2×"
}

.perfbar {
	box-sizing: border-box;
	color: black!important;
	display: inline-block;
	padding-right: 0.25ch;
	margin-right: 0;
	text-align: right;
	border-right: 1px solid black;
}

.release {
	font-weight: bold;
}

.inline_sprite {
	vertical-align: middle;
}

.unused {
	color: silver;
}

figure.formula {
	display: block;
}

/* Header
   ------ */
body {
	min-height: 100%;
	margin: 0;
	position: relative;
	line-height: 1.4;
}

header {
	display: table;
	height: var(--header-height);
	background: var(--header-gradient);
	border: var(--header-border);
}

header div {
	display: table-cell;
	width: 100%;
}

nav {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
	min-height: var(--header-height);
}

header div.logo {
	width: var(--logo-width);
	min-width: var(--logo-width);
	padding-right: calc(var(--logo-padding) * 4);
}

header a.logo {
	position: absolute;
	/* Chrome would accept just `padding`, but Firefox… grr */
	top: var(--logo-padding);
	left: calc(var(--logo-padding) * 2);
}

header img.logo {
	width: var(--logo-width);
}

header nav a {
	color: rgb(96, 96, 192);
	text-align: center;
	border-left: var(--header-border);
	line-height: var(--header-height);
}

header nav a:hover {
	background: var(--header-gradient-hover);
}

main {
	margin: 1em;
}
/* ------ */

/* Footer
   ------ */
body::after {
	content: "";
	display: block;
	height: var(--footer-height);
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: var(--footer-height);

	background: var(--header-gradient);
	text-align: right;
}

footer * {
	font-size: 75%;
	margin: 1em;
}
/* ------ */

/* Link icons
   ---------- */
a:not(.customer):not(.release):not(.goal)[href^="https://github.com/"]:before {
	background-image: url('/static/github.svg?29bc319c');
	display: inline-block;
	width: 1em;
	height: 1em;
	margin-left: 0.175em;
	margin-right: 0.175em;
	content:"";
}

a:not(.customer)[href^="https://activitypub.nmlgc.net/"]:before {
	background-image: url('/static/activitypub.svg?032df33d');
	display: inline-block;
	width: 1em;
	height: 0.6315em;
	margin-left: 0.175em;
	margin-right: 0.175em;
	content:"";
}

a[href^="mailto"] {
	display: inline-block;
}

a[href^="mailto"]:before {
	content: "📧 ";
}

a.goal:before {
	content: "💸 ";
}

a.download {
	display: table;
	border: var(--header-border);
	box-shadow: var(--blog-shadow);
	background: var(--c-bg);
	margin: 1em;
	padding: 1em;
	font-family: monospace;
}

a.download:before {
	content: "📦 ";
	font-size: 150%;
}

a.download:after {
	font-size: 75%;
	color: black;
	white-space: pre;
	content: "(" attr(data-kb) " KiB)";
}
/* ---------- */

/* Cap
   --- */
#cap {
	display: grid;
	grid-template-columns: auto;
	place-items: center;
	font-size: 125%;
	grid-gap: 1em;
	justify-content: center;
}

#cap * {
	margin: 0;
	text-align: center;
}

#cap .desc {
	color: gray;
	font-size: smaller;
}

#cap .amount {
	font-size: 125%;
}

#cap div.meter {
	width: 100%;
}

div.meter {
	height: 90%;
	box-sizing: border-box;
	background: linear-gradient(#dddddd,
			#eeeeee 20%,
			#cccccc 45%,
			#cccccc 55%,
			#dddddd);
	text-align: left !important;
}

div.meter * {
	display: inline-block;
	height: 100%;
	margin: 0 !important;
}

span.confirmed { color: green; }
span.incoming { color: red; }
span.reserved { color: orange; }

#cap .discounts li {
	text-align: left!important;
}
/* --- */

/* Main page
   --------- */
#index {
	text-align: center;
}

section.overall, section.game, section.binary {
	display: grid;
	grid-template-columns: 4.5em 1fr auto;
	align-items: center;
	margin-bottom: 1em;
}

#index section h3 {
	text-align: right;
	font-size: inherit;
}

#index section.overall h3 {
	font-size: 80%;
}

#index section * {
	margin: 0;
}

#index .overall { font-size: 150%; }
#index .game    { font-size: 125%; margin-top: .5em; margin-bottom: .5em; }

#index code {
	font-size: 80%;
}

#index div {
	position: relative;
	margin-left: .25em;
	margin-right: .25em;
}

#index progress {
	width: 100%;
	height: 0.75em;
}

#index    .game progress { height: 1.25em; }
#index .overall progress { height: 1.75em; }

#index div .number {
	position: absolute;
	margin: 0;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 90%;
}

#index .overall .number {
	font-size: 112.5%;
	top: 47.5%;
	transform: translate(-50%, -52.5%);
}

#index .overall .number,
#index    .game .number {
	font-weight: bold;
}

#index .cost {
	text-align: right;
}

.amount {
	font-weight: bold;
}

#index .warning {
	font-size: 110%;
}
/* --------- */

/* FAQ
   --- */
#faq section {
	position: relative;
	box-shadow: var(--blog-shadow);
	padding: 1em 1em 1em 3em;
	margin-bottom: 1.5em;
}

#faq section dl {
	overflow-x: auto;
	white-space: nowrap;
	border-bottom: 0;
}

#faq section > a {
	position: absolute;
	left: 1.25em;
	top: 2.25em;
}

form button {
	font-size: 125%;
	padding: 0.5em;
	width: 100%;
}

form[action="/order"] .row {
	display: table-row;
}

form[action="/order"] .row > * {
	display: table-cell;
	padding-bottom: 1em;
}

form[action="/order"] .row input[type="checkbox"] {
	margin-right: 1em;
}
/* --- */

/* Crowdfunding log
   ---------------- */
#fundlog ul {
	margin-block-start: 0;
	margin-block-end: 0;
	padding-block-start: 0.25em;
	padding-block-end: 1.5em;
	margin-bottom: 0.5em;
}

#fundlog .breakdown {
	display: block;
	line-height: 2;
	color: gray;
	font-size: 75%;
}

#fundlog .delayed {
	color: darkgray;
}
/* ---------------- */

/* Legal notice
   ------------ */
#legal h2 {
	margin-block-end: 0em;
}

#legal h2 + p {
	font-size: 90%;
	margin-block-start: 0.5em;
	margin-block-end: 1.5em;
	color: gray;
}
/* ------------ */

/* Definition lists
   ---------------- */
dl {
	border-bottom: var(--header-border);
	padding-bottom: 0.5em;
	margin: 0;

	.post_meta {
		display: flex;
		align-items: baseline;

		dt {
			white-space: nowrap;
			padding-right: 0.25em;
		}
	}
}

dt, dd {
	display: inline;
}

dd:after {
	display: block;
	content: " ";
}

dt {
	font-size: 75%;
	color: gray;
	font-weight: bold;
}

dd {
	margin: 0;
}
/* ---------------- */

/* Tables
   ------ */
table {
	border-collapse: collapse;
}

thead th,
thead td {
	border-bottom: var(--table-border);
}

tr.hr {
	border-bottom: var(--table-border);
	border-bottom-color: darkgray;
}

td, th {
	padding: 0.25em 0.5em;
}

.icon-cell {
	text-align: center;
}

table.comparison tr:not(:first-child) {
	border-top: var(--table-border);
	border-top-color: var(--c-lightgray);
}

table.comparison td:not(:first-child),
table.comparison th:not(:first-child) {
	border-left: var(--table-border);
}

table.comparison td:not(:last-child),
table.comparison th:not(:last-child) {
	border-right: var(--table-border);
}

table.vm tbody td {
	text-align: left;
	font-family: monospace;
	white-space: nowrap;
}

table.vm tbody td:last-child {
	font-family: unset;
	white-space: unset;
}

table.vm var.default {
	font-weight: bold;
}

.inverted table,
table.inverted {
	color: white;
	tr {
		background-color: black;
	}
}
/* ------ */

/* Forms
   ----- */
#order * {
	text-align: center;
}

#order form {
	border: var(--header-border);
	min-width: 75%;
	box-shadow: var(--blog-shadow);
	background: var(--c-bg);

	padding: 1em;
	display: grid;
	grid-gap: 0.5em;
	place-items: center;
}

#order form input[type="text"],
#order form select {
	font-size: 112.5%;
	padding: 0.25em;
	margin-bottom: 0.75em;
}

#order form input[type="number"] {
	font-size: 175%;
	background: inherit;
	border: 0;
	width: 5em;
}

#order form input::placeholder {
	font-size: 80%;
	color: var(--c-border);
}

#order form .amount {
	font-size: 175%;
}

#order form .push_amount {
	font-size: 110%;
	font-weight: bold;
}

#order form input[type="text"],
#order form select {
	justify-self: stretch;
}

#order form hr {
	width: 100%;
}

form #providers {
	display: grid;
	gap: 1em;
	grid-auto-flow: row;
	place-items: center;
}

form #providers button {
	width: min-content;
	display: grid;
	grid-auto-flow: column;
	place-items: center; /* Must be explicitly set for this grid as well! */
}

form #providers code {
	display: block;
	margin-top: 0.5em;
	font-size: 62.5%;
}

form #providers button.loading,
#customer_stripe form button.loading {
	border-color: transparent;
	background-color: transparent;
	color: green;
}

form #providers button img {
	margin-right: 0.5em;
	width: 1.5em;
}

#order #info {
	color: orangered;
}

#order .left * {
	text-align: left;
}

#order select.info {
	border-color: orangered;
	outline-color: orangered;
}

#order :invalid {
	border-color: red;
	outline-color: red;
}

#order input[type="checkbox"]+label ul,
#order .differences * {
	text-align: left;
	vertical-align: top;
	font-size: small;
}

#order .differences ul {
	padding-inline-start: 1.5em;
	margin-block-start: unset;
}

#order input[disabled]+label {
	color: var(--c-border);
}

#order input+label ul {
	list-style-type: "☐ ";
}

#order input:checked+label ul {
	list-style-type: "☑ ";
}

#error {
	color: red;
}
/* ----- */

/* Push table
   ---------- */
.pushes thead tr {
	background-color: #fcfcfc;
}

.pushes th:not(:first-child),
.pushes td:not(:first-child) {
	border-left: var(--table-border);
}
/* ---------- */

/* Number tables
   ------------- */
figure.progress {
	margin-left: 0;
	margin-right: 0;
	justify-content: left;
}

.progress figcaption {
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-top: 1px dotted grey;
	border-bottom: 1px dotted grey;
	margin-bottom: 1em;
}

.numbers td,
.numbers th {
	text-align: right;
}

.numbers th:first-child,
.numbers td:first-child {
	border-right: var(--table-border);
}

.boss_overview tbody th:first-child {
	border-right: unset;
}

#progress_for .numbers th:last-child,
#progress_for .numbers td:last-child {
	border-left: var(--table-border);
}

.numbers tfoot th,
.numbers tfoot td {
	border-top: var(--table-border);
}

@media ( max-width: 500px ) {
	.numbers {
		font-size: 2.5vw;
	}
}
/* ------------- */

/* Blog
   ---- */

nav.blog {
	font-size: smaller;
	ul {
		margin-block-start: 0;
		margin-block-end: 1.75em;
		padding-inline-start: 0;
		li {
			display: inline;
			&:not(:first-child) {
				padding-left: 0.25em;
			}
			&:not(:last-child) {
				border-right: var(--table-border);
				padding-right: 0.25em;
			}
		}
	}
}

article {
	position: relative;
	margin-bottom: 3em;
	border-bottom: var(--header-border);
	box-shadow: var(--blog-shadow);
	background: var(--c-bg);
	padding: 1em;

	div.nav {
		float: right;
		display: grid;
		font-size: larger;
		grid-template-columns: 1fr 1fr;
		margin: -0.5em;

		&:last-child {
			margin-top: -0.75em;
		}

		div {
			filter: saturate(0) brightness(1.25);
			user-select: none;
		}
	}
}

article h5 {
	margin-block-start: 0em;
	margin-block-end: 0em;
	font-style: italic;
}

/**
 * Needed for fullscreen mode, as there can be an arbitrary number of elements
 * between <article> and <figure>, which would all need to `inherit` the
 * background color.
 **/
article figure {
	background-color: var(--c-bg);

	&.bglayer img {
		background-size: cover;
		max-height: unset;
	}
}

.tag {
	display: inline-flex;
	align-items: stretch;
	font-size: 80%;
	background-color: #f8f8ff;
	border: 1px solid var(--c-link);
}

.tag.active * {
	font-weight: bold;
}

.tag form *,
.tag a {
	display: flex;
	align-items: center;
	padding: unset;
	padding-left: 0.25em;
	text-align: left;
}

.tag form:first-child button:first-child::before,
.tag a:first-child::before {
	padding-right: 0.25em;
	content: "○";
}

.tag > :last-child {
	/* Since we want the links of these small + and - "icons" to take up as
	 * much space as possible, we assign `padding-right` to them. */
	padding-right: 0.25em;
}

.tag:hover {
	background-color: #fff8f8;
	border-color: var(--c-link-hover);
}

.trials {
	tr:not(:last-child) {
		border-bottom: var(--table-border);
	}

	thead {
		border-bottom: var(--table-border-thick);
		vertical-align: bottom;

		th:not(:first-child),
		td {
			text-align: center;
		}
	}

	tbody {
		td:not(:first-child) {
			font-family: monospace;
		}
	}
}

.ratios table {
	background-color: var(--c-bg);

	thead:not(:first-child),
	td:not(:first-child) {
		font-family: monospace;
	}

	td:not(:first-child) {
		text-align: right;
		width: 7ch;
	}

	td:not(:last-child),
	th:not(:last-child) {
		border-right: var(--table-border);
	}
}

/* ---- */

/* Syntax highlighting
   ------------------- */
/* GenericInserted */ .chroma .gi { color: #00aa00 }
/* GenericDeleted  */ .chroma .gd { color: #aa0000 }
/* ------------------- */
