/* Variables
   --------- */
:root {
	--c-lightgray: rgb(220, 220, 220);

	--header-height: 2.5em;
	--header-border: 1px solid silver;
	--logo-width: 3.5em;
	--logo-padding: 0.5em;
}
/* --------- */

html {
	font-family: sans-serif;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	color: red;
}

blockquote {
	color: green;
	white-space: pre-line;
}

img[src*="emoji-"] {
	/* Shamelessly stolen from Discord's CSS */
	width: 1.45em;
	height: 1.45em;
	margin-left: .05em;
	margin-right: .05em;
	vertical-align: -.4em;
}

.gallery {
	text-align: center;
	margin: 0 auto;
}

.gallery img, video.gallery {
	max-width: 100%; /* Important for phones! */
	box-shadow: var(--blog-shadow);
}

.gallery img {
	max-height: 15em;
	margin-left: 5%;
	margin-right: 5%;
}

/* Header
   ------ */
body {
	margin: 0;
}

header {
	display: table;
	height: var(--header-height);
	background: linear-gradient(180deg, white 0%, var(--c-lightgray) 100%);
	border: var(--header-border);
	flex-wrap: wrap;
}

header div {
	display: table-cell;
	width: 100%;
}

nav {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
	min-height: var(--header-height);
}

header div.logo {
	width: var(--logo-width);
	min-width: var(--logo-width);
	padding-right: calc(var(--logo-padding) * 4);
}

header a.logo {
	position: absolute;
	/* Chrome would accept just `padding`, but Firefox… grr */
	top: var(--logo-padding);
	left: calc(var(--logo-padding) * 2);
}

header img.logo {
	width: var(--logo-width);
}

header nav a {
	color: rgb(96, 96, 192);
	text-align: center;
	border-left: var(--header-border);
	line-height: var(--header-height);
}

header nav a:hover {
	background: linear-gradient(180deg, white 0%, rgb(256, 220, 220) 100%);
}

main {
	margin: 1em;
}
/* ------ */

/* Link icons
   ---------- */
a[href^="https://github.com"]:before {
	background-image: url('/static/github.svg');
	display: inline-block;
	width: 1em;
	height: 1em;
	margin-left: 0.175em;
	margin-right: 0.175em;
	content:"";
}
/* ---------- */

/* Tables
   ------ */
table {
	border-collapse: collapse;
}

thead th,
thead td {
	border-bottom: 1px solid gray;
}

td, th {
	padding: 0.25em 0.5em;
}

.icon-cell {
	text-align: center;
}
/* ------ */

/* Push table
   ---------- */
.pushes thead tr {
	background-color: #fcfcfc;
}

.pushes tbody tr:nth-child(even) {
	background-color: #ffffff;
}
.pushes tbody tr:nth-child(odd) {
	background-color: #f8f8f8;
}

.pushes th:not(:first-child),
.pushes td:not(:first-child) {
	border-left: 1px solid gray;
}
/* ---------- */

.progress-grid {
	display: flex;
	flex-wrap: wrap;
}

/* Progress table
   -------------- */
.progress figcaption {
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-top: 1px dotted grey;
	border-bottom: 1px dotted grey;
	margin-bottom: 1em;
}

.progress td,
.progress th {
	text-align: right;
}

.progress th:first-child,
.progress td:first-child {
	border-right: 1px solid gray;
}

.progress th:last-child,
.progress td:last-child {
	border-left: 1px solid gray;
}

.progress tfoot th,
.progress tfoot td {
	border-top: 1px solid gray;
}
/* -------------- */
