rec98-tab-switcher {
	display: grid;
	font-size: 75%;
	grid-row: 1;
	grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
	width: 100%;
}

rec98-tab-switcher button {
	background: var(--header-gradient) !important;
	min-height: var(--header-height);
	width: 100%;
}

rec98-tab-switcher button.active {
	background: var(--c-dark) !important;
	color: white !important;
	font-weight: normal !important; /* avoid reflows */
}

rec98-tab-switcher button:hover:not(.active) {
	color: var(--c-link-hover);
	background: var(--header-gradient-hover);
}

/* Generic child element switcher
   ------------------------------ */

rec98-child-switcher {
	display: grid;

	>:not(rec98-tab-switcher):not(figcaption) {
		background-color: black;
		grid-column: 1;
		grid-row: 2;
		justify-self: auto;
		max-width: 100%;
		max-height: unset !important;

		&.active {
			z-index: 1;
		}
	}

	&.plaintext {
		background-color: black;
		font-family: monospace;
		text-align: left;

		blockquote {
			color: white!important;
		}
	}

}

figcaption.dynamic {
	display: grid;
}

figcaption.dynamic div {
	grid-column: 1;
	grid-row: 1;
}
/* ------------------------------ */
