rec98-video {
	box-shadow: var(--blog-shadow);
	background-color: var(--c-dark);
	display: grid;
}

rec98-video .controls {
	color: var(--c-lightgray);
	display: grid;
	font-size: small;
	grid-template-columns: 2.5em 1.5em 1ch 4ch 1ch 1fr;
	justify-items: left !important;
	width: 100%;
}

rec98-video .controls>button {
	color: white;
	padding: 0;
	user-select: none;
	-webkit-user-select: none;
	width: 100%;
}

rec98-video .controls>.time {
	/* Prevent alignment shaking from digits with different widths. */
	font-family: monospace;
}

rec98-video .large {
	grid-row: 1 / 3;
}

rec98-video .seconds {
	grid-row: 1;
}

rec98-video .seconds.time {
	grid-column: 3 / 6;
}

rec98-video .frame {
	grid-row: 2;
}
